<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ElecDocServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ElecDocServices.Properties.Settings>
            <setting name="ElecDocServices_IfacereServices_SSO_wsEFactura"
                serializeAs="String">
                <value>http://www.ifacere.com/lineapruebas/sso_wsefactura.asmx</value>
            </setting>
        </ElecDocServices.Properties.Settings>
    </applicationSettings>
</configuration>